<app-header></app-header>

<main class="container mx-auto bg-white rounded-xl shadow-lg my-6 p-6 flex flex-wrap items-start">

  <div class="w-full">
    <div class="pb-5 text-center">
      <h2 class="text-4xl font-semibold mb-2">Localizador de Unidades</h2>
      <p class="text-3xl">Encontre abaixo a localização das unidades da Caixa Econômica Federal</p>
    </div>

    <div class="flex flex-col lg:flex-row">
      <div class="w-full lg:w-1/4 pr-6">
        <div class="mb-10">
          <h3 class="text-xl font-semibold mb-2">Território nacional</h3>
          <button pButton type="button" label="Todas as unidades" (click)="loadAllUnidades()" class="w-full text-xl font-bold py-2 px-4 rounded-lg"></button>
        </div>

        <div class="mb-10">
          <h3 class="text-xl font-semibold mb-2">Região</h3>
          <select (change)="onRegiaoChange($event)" class="border border-gray-300 rounded-lg py-2 px-4 w-full text-xl">
            <option value="">Selecione a região</option>
            <option *ngFor="let regiao of regioes" [value]="regiao.regiao">{{ regiao.regiao }}</option>
          </select>
        </div>

        <div class="mb-10">
          <h3 class="text-xl font-semibold mb-2">Estado</h3>
          <select (change)="onUfChange($event)" class="border border-gray-300 rounded-lg py-2 px-4 w-full text-xl">
            <option value="">Selecione a UF</option>
            <option *ngFor="let uf of ufs" [value]="uf.uf">{{ uf.uf }}</option>
          </select>
        </div>

        <div class="mb-10">
          <h3 class="text-xl font-semibold mb-2">Município</h3>
          <select id="municipio" (change)="onIbgeChange($event)"
            class="border border-gray-300 rounded-lg py-2 px-4 w-full text-xl">
            <option value="">Selecione o município</option>
            <option *ngFor="let municipio of municipios" [value]="municipio.ibge">{{municipio.cidade}}</option>
          </select>
        </div>

        <div class="mb-10">
          <h3 class="text-xl font-semibold mb-2">SR</h3>
          <select (change)="onSrChange($event)" class="border border-gray-300 rounded-lg py-2 px-4 w-full text-xl">
            <option value="">Selecione a SR</option>
            <option *ngFor="let sr of srs" [value]="sr.sr">{{ sr.nomeSr }}</option>
          </select>
        </div>


      </div>
      <div class="w-full lg:w-3/4">
        <app-map [filterRegiao]="selectedRegiao" [filterUf]="selectedUf" [filterSr]="selectedSr"
          [filterIbge]="selectedIbge"></app-map>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>