<main class="w-full lg:w-4/5 mx-auto bg-white rounded-xl shadow-lg my-6 p-4 lg:p-6 flex flex-wrap items-start">
    <div class="w-full">
        <div class="pb-5 text-center">
            <h2 class="text-2xl lg:text-4xl font-semibold mb-2">Especificação da Produção Temática</h2>
        </div>
        <h1 class="text-xl lg:text-3xl font-semibold mb-4">SPA com Angular, TypeScript, PrimeNG e Leaflet</h1>
        <section class="mb-8">
            <h2 class="text-lg lg:text-2xl font-semibold mb-2">Prazo de Entrega</h2>
            <p class="mb-4 text-base lg:text-lg">O prazo para entrega do projeto é até 11/06/2024.</p>
        </section>

        <section class="mb-8">
            <h2 class="text-lg lg:text-2xl font-semibold mb-2">Pré-Requisitos</h2>
            <ul class="list-disc pl-5">
                <li class="mb-4 text-base lg:text-lg">Os dados da API devem ser requisitados em tempo real (Usando axios, fetch ou
                    sua
                    biblioteca de preferência).</li>
                <li class="mb-4 text-base lg:text-lg">Componentizar adequadamente a solução.</li>
                <li class="mb-4 text-base lg:text-lg">Usar typescript.</li>
                <li class="mb-4 text-base lg:text-lg">Layout responsivo levando em consideração os principais tamanhos de tela.</li>
                <li class="mb-4 text-base lg:text-lg">Caso use algum framework CSS, priorizar a utilização do Tailwind.</li>
                <li class="mb-4 text-base lg:text-lg">Priorizar o uso do DSC (não obrigatório).</li>
                <li class="mb-4 text-base lg:text-lg">Enviar o projeto zipado, adicione o arquivo README.md contendo seus dados bem
                    como
                    orientações de como executar e testar a solução apresentada.</li>
                <li class="mb-4 text-base lg:text-lg">O artefato final deverá ser empacotado em container com todos os componentes
                    necessários, como bibliotecas, frameworks e outras dependências, para que fiquem isolados em seu
                    próprio "container".</li>
            </ul>
        </section>

        <section class="mb-8">
            <h2 class="text-lg lg:text-2xl font-semibold mb-2">Tela Inicial</h2>
            <ul class="list-disc pl-5">
                <li class="mb-4 text-base lg:text-lg">Listar todos as unidades como pontos no mapa.</li>
                <li class="mb-4 text-base lg:text-lg">Deverá ter um espaço para os filtros (por município, por região, por UF, por
                    SR)
                    (só será aplicado um filtro de cada vez), após aplicação do filtro somente as unidades que fazem
                    parte deste deverão ser exibidas.</li>
                <li class="mb-4 text-base lg:text-lg">Ao apontar com mouse em um ponto no mapa, deverá aparecer no mínimo o nome da
                    unidade.</li>
                <li class="mb-4 text-base lg:text-lg">Ao clicar em um ponto deverá exibir um PopUp com os dados formatados do GIC.
                </li>
            </ul>
        </section>

        <section class="mb-8">
            <h2 class="text-lg lg:text-2xl font-semibold mb-2">Rotas da API</h2>
            <ul class="list-disc pl-5">
                <li class="mb-4 text-base lg:text-lg">Rotas da API documentada em separado. Link para documentação no topo da
                    aplicação.</li>
            </ul>
        </section>

        <section>
            <h2 class="text-lg lg:text-2xl font-semibold mb-2">Avaliação</h2>
            <ul class="list-disc pl-5">
                <li class="mb-4 text-base lg:text-lg">Atendimento aos objetivos propostos.</li>
                <li class="mb-4 text-base lg:text-lg">As instruções de como rodar o projeto.</li>
                <li class="mb-4 text-base lg:text-lg">Organização, semântica, estrutura, legibilidade, manutenibilidade do seu
                    código.
                </li>
                <li class="mb-4 text-base lg:text-lg">Alcance dos objetivos propostos.</li>
                <li class="mb-4 text-base lg:text-lg">Escalabilidade da solução adotada.</li>
                <li class="mb-4 text-base lg:text-lg">Componentização e extensibilidade dos componentes Typescript.</li>
            </ul>
        </section>
    </div>
</main>